* {
  margin: 0px;
  padding: 0px;

}

body { 
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: black;
}

.header {
  overflow: hidden;
  background-color: #181818;
  padding: 10px 5px;
}

.alink a{
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px; 
  font-weight: bold;
  line-height: normal;
  border-radius: 4px;
  margin: 0px 28px 0px 10px;
}

.alink a:hover {
  color: blueviolet;
}
.search-container {
  margin-left: 40%;
}
.search-container input,button{
  padding: 7px 10px;
  background: #505050;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 7%;
}
#hide {
  background-color: #181818;
  color: white;
}
.search-container input{
  width: 350px;
}
.search-container button:hover{
  background: #ccc;
}
.header-right{
  float: right;
}
.header-right img{
  width: 17px;
  height: 17px;;
  margin: 0px 15px 7px 5px;
}

.bit a{
  float:right;
  background-color: gray;
  font-size: 13px;
  text-align: center;
  margin: 0px 5px 0px 5px;
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}
.bit img{
  float: left;
  margin: 0px 5px;
}
.bit p{
  float: right;
  margin: 0px 5px;
}
.alink a:hover {
  color: blueviolet;
}

@media screen and (max-width: 500px) {
  .header-right {
    float: right;
  }
}
@media screen and (max-width: 900px) {
  .alink a {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .blink {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .search-container{
    display: none;
  }
}
@media screen and (min-width: 980px) {
  #hide {
    display: none;
  }
}
.blink img{
  float: left;
  width: 17px;
  height: 17px;;
  margin: 5px 28px 0px 10px;
}
.main{
  display: flex;
  height: 90vh;
}
.content{
  background-color: black;
  flex:85%;
}
.sidebar{
  background-color: #181818;
  margin-top: 2px;
  flex:16%;
}
.first-1 p{
  color: white;
  float: left;
  font-size: 13.5px;
  font-weight: bold;
  margin: 10px 5px 5px 10px;
}
.first-1 img{
  width: 20px;
  height: 20px;
  float: right;
  margin: 10px 15px 5px 5px;
}
.first-2 {
  margin :40px 5px 5px 10px;
}
.first-2 img {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}
.first-2 h4{
  color: white;
  font-size: 14px;
}
.first-2 p {
  color: lightgray;
  font-size: 12.8px;
}
.live {
  float: right;
  margin: 5;
  margin: 5px 5px 5px 5px;
}
.renk {
  background-color: red;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  float: left;
}
.lft {
  float: left;
}
