* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    height:100vh;
    flex-direction: column;
}
.header {
    background-color: #181818;
    flex:6%;
    display: flex;
    justify-content: space-between;
}
    .left {     
        background-color: red;
        flex: 21%;
        display: flex;
    }
        .l1 {
            background-color: rosybrown;
            flex: 20%;
        }
        .l2 {
            background-color: burlywood;
            flex: 65%
        }
        .l3 {
            background-color: azure;
            flex: 25%
        }
    .center {
        background-color: #181818;
        flex: 63%;
    }
    .right {
        background-color: blueviolet;
        flex: 16%;
        display: flex;
    }
        .r1 {
            background-color: rgb(0, 73, 107);
            flex: 17%;
        }
        .r2 {
            background-color: rgb(35, 211, 167);
            flex: 17%;
        }
        .r3 {
            background-color: rgb(107, 0, 75);
            flex: 17%;
        }
        .r4 {
            background-color: rgb(53, 236, 29);
            flex: 32%;
        }
        .r5 {
            background-color: rgb(255, 217, 0);
            flex: 17%;
        }
.body {
    background-color: black;
    flex:94%;
    display: flex;
}
.sidebar{
    background-color: #181818;
    flex:16%;
    display: flex;
    flex-direction: column;
}
    .side-1 {
        background-color: goldenrod;
        flex:45%;
        display: flex;
        flex-direction: column;
    }
        .s1 {
            background-color: hotpink;
            flex: 10%;
            display: flex;
            flex-direction: row;
        }
            .s11{
                background-color: olivedrab;
                flex: 80%;
            }
            .s12{
                background-color: orange;
                flex: 20%;
            }
        .s2 {
            background-color: indigo;
            flex: 80%;
            display: flex;
            flex-direction: column;
        }
            .s21{
                background-color: pink;
                flex: 20%;
                display: flex;
            }
                .s211{
                    background-color: darkgray;
                    flex: 70%;
                    display: flex;
                }
                    .s2111 {
                        background-color: coral;
                        flex: 30%;
                    }
                    .s2112 {
                        background-color: rgb(128, 0, 100);
                        flex: 70%;
                        display: flex;
                        flex-direction: column;
                    }
                        .s21121 {
                            background-color: darkgreen;
                            flex: 50%;
                        }
                        .s21122 {
                            background-color: mediumorchid;
                            flex: 50%;
                        }
                .s212{
                    background-color: rgba(0, 248, 124, 0.623);
                    flex: 30%;
                }
        .s3 {
            background-color: lightcyan;
            flex: 10%;
        }
    .side-2 {
        background-color: yellow;
        flex:45%;
        display: flex;
        flex-direction: column;
    }
    .side-3 {
        background-color: yellowgreen;
        flex:10%;
    }
.content {
    background-color: grey;
    flex:75%;
    display: flex;
    flex-direction: column;
}
    .cont-1 {
        background-color: lightgreen;
        flex: 40%;
    }
    .cont-2 {
        background-color: lightskyblue;
        flex: 15%;
        display: flex;
        flex-direction: column;
    }
        .c21 {
            background-color: orangered;
            flex:10%
        }
        .c22 {
            background-color: palevioletred;
            flex: 90%;
            display: flex   ;
        }
            .c221 {
                background-color: palegreen ;
                flex: 25%;
            }
            .c222 {
                background-color: mediumblue ;
                flex: 25%;
            }
            .c223 {
                background-color: lightblue ;
                flex: 25%;
            }
            .c224 {
                background-color: goldenrod ;
                flex: 25%;
            }
    .cont-3 {
        background-color: limegreen;
        flex: 5%;
        display: flex;
    }
        .c31 {
            background-color: darkslategrey;
            flex:25%;
        }
        .c32 {
            background-color: rgb(242, 0, 210);
            flex:25%;
        }
        .c33 {
            background-color: rgb(255, 197, 6);
            flex:25%;
        }
        .c34 {
            background-color: rgb(0, 255, 255);
            flex:25%;
        }
    .cont-4 {
        background-color: maroon;
        flex: 15%;
        display: flex;
    }
        .c41 {
            background-color: salmon;
            flex: 12.5%;
        }
        .c42 {
            background-color: rgb(140, 0, 255);
            flex: 12.5%;
        }
        .c43 {
            background-color: rgb(49, 8, 3);
            flex: 12.5%;
        }
        .c44 {
            background-color: rgb(224, 71, 0);
            flex: 12.5%;
        }
        .c45 {
            background-color: rgb(247, 204, 199);
            flex: 12.5%;
        }
        .c46 {
            background-color: rgb(98, 0, 255);
            flex: 12.5%;
        }
        .c47 {
            background-color: rgb(0, 220, 150);
            flex: 12.5%;
        }
        .c48 {
            background-color: rgb(0, 145, 255);
            flex: 12.5%;
        }
    .cont-5 {
        background-color: olivedrab;
        flex: 15%;
    }

