* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: black;
}
.main {
    display: flex;
    height:100%;
    width:100%;
    flex-direction: column;
}
.header {
    background-color: #18181B;
    height: 7%;
    display: flex;
    overflow: hidden;
    padding: 0.7%;
    position: sticky;
    top: 0;
}
    .left {     
        flex: 21%;
        display: flex;
    }
        .l1 {
            flex: 15%;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .icon img{
            width: 25px;
            height: 30px;
            margin-right: 10px;
        }
        .l2 {
            flex: 70%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .l2 a{
            color: white;
            text-decoration: none;
            font-size: 19px; 
            font-weight: bold;
            line-height: normal;
        }
        .l2 a:hover {
            color: blueviolet;
        }
        .l3 {
            flex: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .l3 a{
            color: white;
        }
        .l3 a:hover{
           background-color: gray;
           padding: 10% 20%;
        }
    .center {
        flex: 63%;
        display: flex;
    }
    .center input {
        padding: 7px 10px;
        background: #505050;
        color: white;
        font-size: 15px;
        border: none;
        border-radius: 7%;
    }
    .center button {
        padding: 7px 10px;
        background: #505050;
        color: white;
        font-size: 15px;
        border: none;
        border-radius: 7%;
    }
    .center input {
        width: 40%;
        margin-left: 25%;
        margin-right:0.2%;
    }
    .center button:hover {
        background-color: #6e6e6e;
    }
    .right {
        flex: 16%;
        display: flex;
    }
    .right img{
        width: 17px;
        height: 17px;
        margin: 0px 5px;
    }
        .r1 {
            flex: 17%;
            display: flex;
            justify-content: center;
            align-items: center;
        }   
        .r1 a:hover{
            background-color: gray;
            padding: 1.5%;
        }
        .r2 {
            flex: 17%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .r2 a:hover{
            background-color: gray;
            padding: 1.5%;
        }
        .r3 {
            flex: 17%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .r3 a:hover{
            background-color: gray;
            padding: 1.5%;
        }
        .r4 {
            flex: 32%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .r4 img{
            float: left;
            width: 10px;
            height: 15px;
            margin: 0px;
        }
        .r4 p {
            float: right;
            margin: 0px 3px 0px 3px;
            color: white;
            font-size: 12px;
        }
        .r4 button {
            padding: 7px 10px;
            background: #505050;
            color: white;
            border: none;
            border-radius: 7%;
        }
        .r4 button:hover{
            background: #696969;
        }
        .r5 {
            flex: 17%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .r5 img {
            border-radius: 50%;
            height:32px;
            width: 32px;
            margin: 0px 5px 0px 5px;
        }
.body {
    background-color: black;
    display: flex;

}
.sidebar{
    background-color: #1F1F23;
    width: 16%;
    height: 20%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 55.5px;
}
    .side-1 {
        display: flex;
        flex-direction: column;
    }
        .s1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 2% 0%;
        }
            .s1 img{
                width: 17px;
                height: 17px;
            }
            .s1 p {
                color: white;
                font-size: 13px;
                font-weight: bold;
                margin: 0px 10px;
            }
            .s1 button {
                width: 25px;
                height: 20px;
                margin: 0px 15px;
                background-color: #242427;
                border: none;
            }
        .s2 {
            display: flex;
            flex-direction: column;
        }
        .s2 img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 0px 7px;
        }
        .s2 h4{
            color: whitesmoke;
            font-size: 14px;
            font-weight: 500;
        }
        .s2 p {
        color: lightgray;
        font-size: 12.8px;
        }
        .s2 a:hover{
            background-color: #323238;
        }
            .s21{
                display: flex;
                padding: 3% 0%;
            }
                .s211{
                    flex: 70%;
                    display: flex;  
                    justify-content: flex-start;
                    align-items: center;
                }
                    .s2111 {
                        display: flex;
                        flex-direction: column;
                    }
                .s212{
                    flex: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .renk {
                    background-color: red;
                    width: 8.5px;
                    height: 8.5px;
                    border-radius: 50%;
                    margin: 0px 5px 0px 0px;
                }
        .s3 a{
            color: rgb(190, 121, 255);
            font-size: 13px;
            font-weight: lighter;
            display: flex;
            padding: 1% 0%;
            align-items: center;
            text-decoration: none;
            margin-left: 10px;
        }
        .s3 a:hover{
            text-decoration: underline;
        }
    .side-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3% 0%;
    }
    .side-2 input {
        padding: 5% 0%;
        background: #505050;
        color: white;
        font-size: 12px;
        border: none;
        border-radius: 10%;
    }
    .side-2 input {
        width: 100%;
    }
    .side-2 input:hover {
        border: 1px solid #888888;
    }
.content {
    background-color: black;
    width: 84%;
    display: flex;
    flex-direction: column;
}
    .cont-1 {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont-2 {
        display: flex;
        flex-direction: column;
    }
    .cont-2 a {
        color: blueviolet;
        text-decoration: none;
    }
    .cont-2 a:hover{
        text-decoration: underline;
    }

        .c21 h4 {
            font-weight: 500;
            color: white;
            font-size: 18px;
            margin-left: 2%;
        }
        .c22 {
            display: flex;
            margin-left: 2%;
            flex-wrap: wrap;
        }
            .c221 {
                display: flex;
                flex-direction: column;
                margin-right:0.5%;
            }
            .cont-2 iframe:hover{
                transition: ease 0.15s;
                border-bottom: 5px solid #9147ff;
                border-left: 5px solid #9147ff;
                margin-right: 6px;
                margin-bottom: 6px;
            }
                .c2211 {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                    .c22111{
                        display: flex;
                        flex-direction: row;
                    }
                    .c22111 img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin: 0px 7px;

                    }
                    .c22112{
                        color: white;
                    }
                        .c221111 {
                            display: flex;
                            flex-direction: column;
                        }
                        .c221111 h4{
                            color: white;
                            text-overflow: ellipsis;
                            font-size: 15px;
                            width: 200px;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .c221111 p{
                            color: lightgray;
                            font-size: 13px;
                        }
                        .category {
                            margin:6px 0px 6px 5px;
                        }
                        .category a{
                            color: lightgray;
                            background-color: rgb(73, 73, 73);
                            text-decoration: none;
                            padding: 1px 10px;
                            border-radius: 25%;
                            font-size: 11.5px;
                            font-weight: 400;
                        }
                        .category a:hover{
                            background-color: rgb(129, 129, 129);
                        }
    .cont-3 {
        display: flex;
        flex-wrap: wrap;
        margin: 2%;
    }
    .cont-3 img {
        height: 75px;
        width: 300px;   
    }

    .cont-4 {
        color: white;
        font-size: 18px;
        margin: 1% 2%;
    }
    .cont-4 a {
        text-decoration: none;
        color: blueviolet;
    }
    .cont-4 a:hover{
        text-decoration: underline;
    }
    .cont-5 {
        display: flex;
        margin: 2%;
        flex-wrap: wrap;
        padding: 2% 0%;
    }
        .c51 {
            display: flex;
            flex-direction: column;
            margin-right: 0.5%;
        }
        .c51 img {
            width: 145px;
            height: 210px;
        }
        .c51 img:hover{
            transition: ease 0.15s;
            border-bottom: 5px solid #9147ff;
            border-left: 5px solid #9147ff;
            margin-right: 6px;
            margin-bottom: 6px;
        }
            .c511{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 10px;
            }
                .c5111 {
                    display: flex;
                    flex-direction: column;
                }
                .c5111 h4{
                    color: whitesmoke;
                    text-overflow: ellipsis;
                    font-size: 15px;
                    width: 120px;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .c5111 p {
                    color: lightgray;
                    font-size: 13px;
                }
                .c5112{
                    display: flex;  
                    color: whitesmoke;
                }
    #hide0{
        width: 17px;
        height: 17px;
    }
    #hide2 img{
        width: 17px;
        height: 17px;
    }
    #hide3 {
        width: 17px;
        height: 17px;
        margin-left: 10px;
    }
    #right {
        display: none;
        transform: rotate(180deg);
    }
.line
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1% 0%
}
hr{
    height: 1px;
    background-color: rgb(59, 59, 59);
    border: none;
}
.line .hrline
{
    display: inline-block;
    width: 35%;
}
.line .viewmore .morebutton
{
    color: #9147ff;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    border: none;
    background-color: black;
}
.hrline2 {
    margin: 0% 3% 3% 3%;
}
.contentcover {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainvideos {
    display: flex;
    justify-content: center;
    width: min-content;
}
.mainvid {
    display: inline-block;
    width: min-content;
}
.arrow i{
    color: red;
}
    @media screen and (max-width: 980px) {
        .center input, .center button{
          display: none;
        }
        .center {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        #alink {
            display: none;
        }
    }
    @media screen and (min-width: 981px) {
        #hide0{
          display: none;
        }
        #hide2{
            display: none;
          }
    }
    @media screen and (max-width: 1320px) {
        .r4 button{
          display: none;
        }
    }
    @media screen and (min-width: 1320px) {
        #hide1{
          display: none;
        }
    }
    @media screen and (max-width: 1200px) {
        .sidebar h4,.sidebar p,.sidebar button, .sidebar input{
            display: none;
        }
        .renk {
            display: none;
        }
        .sidebar {
            width: 45px;
            padding: 30px 0px;
            margin-left: 2px;
            height: 650px;
        }
        .s1 button,p{
            display: none;
        }
        #hide3 {
            display: inline;
        }
        .left a {
            font-size: 11px
        };
    }
    @media screen and (min-width: 1200px) {
        #hide3 {
            display: none;
        }
    }
    @media screen and (max-width: 1515px) {
        .s1 p{
            font-size: 12px;
        }
    }
    @media screen and (max-width: 1400px) {
        .s1 p{
          font-size: 9px;
        }
    }
    @media screen and (min-width: 1520px) {
        .c22 {
            height: 300px;
        }
        .c221 {
            width: 300px;
        }
        .c2211 {
            height: 90px;
        }
    }